<form #personaForm="ngForm" class="row g-3 needs-validation mt-5" novalidate>
  <div class="col-md-4 position-relative">
    <label for="inputNombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="inputNombre"
      placeholder="Matías"
      name="nombre"
      [(ngModel)]="persona.nombre"
      #nombre="ngModel"
      required
    />
    <div *ngIf="nombre.touched && nombre.valid" class="alert alert-success">
      Parece correcto!
    </div>
    <div *ngIf="nombre.touched && nombre.invalid" class="alert alert-danger">
      Nombre es requerido
    </div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="inputApellido" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="inputApellido"
      placeholder="González"
      value=""
      name="apellido"
      [(ngModel)]="persona.apellido"
      #apellido="ngModel"
      required
    />
    <div *ngIf="apellido.touched && apellido.valid" class="alert alert-success">
      Parece correcto!
    </div>
    <div
      *ngIf="apellido.touched && apellido.invalid"
      class="alert alert-danger"
    >
      Apellido es requerido
    </div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="inputEdad" class="form-label">Edad</label>
    <div class="input-group has-validation">
      <input
        type="number"
        class="form-control"
        id="inputEdad"
        [(ngModel)]="persona.edad"
        name="edad"
        #edad="ngModel"
        required
      />
      <div *ngIf="edad.touched && edad.invalid" class="alert alert-danger">
        Por favor indique una edad válida...
      </div>
    </div>
    <div *ngIf="edad.touched && edad.valid" class="alert alert-success">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-6 position-relative">
    <label for="inputCiudad" class="form-label">Ciudad</label>
    <input
      type="text"
      class="form-control"
      id="inputCiudad"
      [(ngModel)]="persona.ciudad"
      name="ciudad"
      #ciudad="ngModel"
      required
    />
    <div *ngIf="ciudad.touched && ciudad.invalid" class="alert alert-danger">
      Por favor provea una ciudad válida.
    </div>
    <div *ngIf="ciudad.touched && ciudad.valid" class="alert alert-success">
      Te vamos a visitar!
    </div>
  </div>
  <div class="col-md-6 position-relative">
    <label for="selectProvincia" class="form-label">Provincia</label>
    <select
      class="form-select"
      id="selectProvincia"
      [(ngModel)]="persona.provincia"
      name="provincia"
      required
    >
      <option selected disabled value="">Elija...</option>
      <option>Buenos Aires</option>
      <option value="Córdoba">Córdoba</option>
      <option value="Santa Fe">Santa Fe</option>
      <option value="La Pampa">La Pampa</option>
    </select>
    <div class="invalid-tooltip">
      Por favor seleccione una provincia válida...
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-evenly">
      <button class="btn btn-outline-danger" type="submit" (click)="cancelar()">
        Cancelar
      </button>
      <button class="btn btn-outline-primary" type="submit" (click)="guardar()">
        Enviar
      </button>
    </div>
  </div>
</form>

<!-- <label>{{ persona | json }}</label> -->
