<!-- <p>{{ numero }}</p> -->

<div *ngIf="numero===1; else segundo">
    <img src="../assets/dado-uno.png" alt="">
</div>

<ng-template #segundo>
    <ng-container *ngIf="numero === 2; else tercero">
        <img src="../assets/dado-dos.png" alt="">
    </ng-container>
</ng-template>

<ng-template #tercero>
    <ng-container *ngIf="numero === 3; else cuarto">
        <img src="../assets/dado-tres.png" alt="">
    </ng-container>
</ng-template>

<ng-template #cuarto>
    <ng-container *ngIf="numero === 4; else quinto">
        <img src="../assets/dado-cuatro.png" alt="">
    </ng-container>
</ng-template>

<ng-template #quinto>
    <ng-container *ngIf="numero === 5; else sexto">
        <img src="../assets/dado-dos.png" alt="">
    </ng-container>
</ng-template>

<ng-template #sexto>
    <ng-container *ngIf="numero === 6;">
        <img src="../assets/dado-seis.png" alt="">
    </ng-container>
</ng-template>
