<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi Aplicación</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            href="#"
            [routerLink]="['primero', 1]"
            >Primero</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            href="#"
            routerLink="segundo"
            >Segundo</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<p style="color: red">MI COMPONENTE APP</p>
<div class="container">
  <div class="row">
    <div class="col-md-6 my-3">
      <app-form-nuevo-item
        [label]="'ciudad'"
        [className]="'btn btn-info'"
        (nuevoItemEvento)="agregarCiudad($event)"
      ></app-form-nuevo-item>
    </div>
    <div class="col-md-6 my-3">
      <input
        type="text"
        class="form-control"
        placeholder="filter..."
        [(ngModel)]="criteria"
      />
      <p>{{ criteria }}</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <ul *ngFor="let ciudad of lista | filter: criteria">
        <li
          (click)="onCiudadClickeada(ciudad)"
          [ngClass]="{ 'alert alert-info': ciudad === seleccion }"
        >
          {{ ciudad | titlecase }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="seleccion">
        <p>Tu ciudad es: {{ seleccion }}</p>
        <app-button
          (click)="limpiar()"
          [color]="'blue'"
          [label]="'Limpiar tu selección'"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p *ngIf="nombre">Mi nombre es: {{ nombre }}</p>
  <p>
    <input type="text" [(ngModel)]="nombre" />
  </p>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
